@import "tailwindcss";
.card {
  @apply bg-white p-6 rounded-lg shadow-md hover:bg-indigo-600 hover:text-white transition cursor-pointer;
}

.title {
  @apply text-lg font-bold mb-2;
}

.table-header {
  @apply p-3 text-left font-semibold text-purple-200;
}

.table-cell {
  @apply p-3 text-white/90;
}

